<b>Exercise 2:</b> Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

<b>Exercise 3:</b> Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Exercise 10:</b> Insert a markdown cell to list Objectives

<b>Objectives:</b>
- List popular languages used in Data Science
- List popular libraries used in Data Science
- Evaluate arithmetic expressions
- Convert Minutes to Hours

<b>Exercise 4:</b> Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. C/C++
5. Java
6. JavaScript

<b>Exercise 5:</b> Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-Learn
4. Plotly
5. Seaborn
6. Matplotlib

<b>Exercise 6:</b> Create a markdown cell with a table of Data Science tools

<div style="display: inline-block">
    
|Data Science Tools|
|:-|
|SAS|
|ApacheSpark|
|BigML|

</div>

<b>Exercise 7:</b> Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

<b>Exercise 8:</b> Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

<b>Exercise 9:</b> Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [5]:
mins = 200
hours = mins/60
print(mins, "mins is", hours,"hrs")

200 mins is 3.3333333333333335 hrs

<b>Exercise 11:</b> Create a markdown cell to indicate the Author's name

<b>Author:</b>

Pragya